* {
    margin: 0;
    padding: 0;
}

#particles-js .container {
    position: relative;
}

.nav-link {
    font-size: 1.125rem;
    color: #ffffffc0;
    margin: 0 14px;
}

@media screen and (max-width: 990px) {
    .nav-link {
        color: #ffffffc0;
        -webkit-color: #ffffffc0;
    }
    .contactBtn {
        color: #fff;
        -webkit-color: #fff;
    }
}

.navbar {
    padding-top: 20px;
    z-index: 999;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    margin-left: -16px;
}

.fa-bars {
    margin-right: -16px;
}

.navbar-brand:hover {
    color: #fff;
}

.alignLeft {
    text-align: right;
}

.navBefore {
    transition: .2s;
}

.navBefore:hover {
    transform: scale(1.12);
    color: #fff
}

.contact {
    margin-left: 44px;
}

@media screen and (max-width: 985px) {
    .contact {
        margin-left: 0.8125rem;
        margin-top: 10px;
    }
}

.navbar-toggler {
    color: #fff
}

.contactBtn {
    background-color: rgb(57, 30, 235);
    color: #ffffffde;
    border: 1px solid #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.contactBtn:hover {
    background-color: #ffffffde;
    color: rgb(57, 30, 235);
}

/* text part */

.bannerText {
    position: absolute;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .bannerText {
        max-width: 95%;
    }
}

@media screen and (min-width: 1600px) {
    .bannerText {
        margin-top: 100px;
    }
}

.bannerText p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: #8aa4fb;
    line-height: 1.9375rem;
}

@media screen and (max-width: 1200px) {
    .bannerText p {
        font-size: .9rem;
        line-height: 20px;
    }
}

.bannerText h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 3.25rem;
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 50px;
    line-height: 65px;
}

@media screen and (max-width: 1200px) {
    .bannerText h1 {
        font-size: 1.7rem;
        color: #ffffff;
        padding-bottom: 20px;
        line-height: 45px;
    }
}

/* learn button  */

.bannerText .learnBtn {
    background: #4ea0ed;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    transition: all linear .2s;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 68px;
    border-radius: 3px;
}

.learnBtn:hover {
    text-decoration: none;
    background-color: white;
    color: #3d1de9;
    box-shadow: 4px 8px 30px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
    .bannerText .learnBtn {
        font-size: 18px;
        padding: 10px 20px;
        display: inline-block;
        margin-top: 20px;
    }
}

.bannerText h1, .bannerText p {
    padding-left: 0;
    padding-right: 0;
}

/* particle js  */

#particles-js {
    overflow-wrap: break-word;
    width: 100%;
    z-index: -1;
}

.toggleParticle {
    overflow: scroll;
}

/* @media screen and (max-width: 1200px) {
    #particles-js {
        height: 90%;
        overflow-wrap: break-word;
        overflow: scroll
    }
} */

@media screen and (max-height: 600px) {
    #particles-js {
        height: 100%;
        overflow-wrap: break-word;
    }
}

/* about us part  */

.aboutText h1 {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
}

.aboutText p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.aboutText :not(:last-child) {
    padding-top: 30px;
}

.aboutText :last-child {
    font-style: italic;
    padding-bottom: 60px;
}

.aboutText :first-child {
    padding-top: 60px;
}

.secondLastP {
    margin-bottom: 0;
}

#aboutUs .container {
    position: relative;
    padding: 0;
    height: 550px;
}

@media screen and (max-width: 768px) {
    #aboutUs .container {
        height: 600px;
    }
}

.aboutCard {
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 97px -52px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 97px -52px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 97px -52px rgba(0, 0, 0, 0.39);
    width: 100%;
}

.activeCardToggle {
    top: -20%;
    z-index: 99;
    position: absolute;
}

@media screen and (max-width: 450px) {
    .aboutCard {
        top: -10%;
    }
}

.aboutText {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

/* our service part  */

#ourService {
    margin-bottom: 100px;
}

.serviceText, .cardOne, .cardTwo {
    display: inline-block;
}

.serviceText h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 2.8125rem;
    font-weight: 700;
    margin-bottom: 55px;
}

.cardOne h1, .cardTwo h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.78rem;
    width: 100%;
    margin: 25px 0;
    font-weight: 700;
}

.serviceText p {
    font-size: 1.25rem;
}

.cardOne p, .cardTwo p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.cardOne img, .cardTwo img {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .cardOne {
        margin-top: 315px;
    }
}